@model MovieResponseModel

@{
    ViewBag.Title = "Movies List";
    ViewBag.Header = "Movies DashBoard";
}

<body>
<table>
    @foreach (var Movie in Model.Movies)
    {
        <tr>
            <td>@Movie.Id</td>
            <td>@Movie.Name</td>
            <td>@Movie.Genre</td>
            <td>@Movie.Synopsis</td>
            <td><a asp-action="MovieDetail" asp-route-id="@Movie.Id"> Details</a></td>
        </tr>
    }
</table>
   
</body>
@section footer
{
    <a asp-action="Addmovie">Add Movie</a>
}

